doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0;")
        meta(name="format-detection", content="telephone=no")

        // MESSAGE SUBJECT
        title= subject
        // BODY
        body(topmargin="0", rightmargin="0", bottommargin="0", leftmargin="0", marginwidth="0", marginheight="0", width="100%")

        block content

